.container{
    display: flex;
    flex-wrap: wrap;
    background-color: darkgray;
    width: 90%;
}
.flexing{
    flex-wrap: wrap;
    margin: 10px auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.row-one{
    background-color: rgb(61, 221, 168);
}
.row-two{
    background-color: rgb(136, 89, 184);
}
.row-three{
    background-color: white;
}
.link-to-site{
    width: 80%;
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: center;

}
img{
    height: 200px;
    width: 200px;
}